# .NET
bin/
obj/
out/
*.user
*.suo

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.userosscache
*.sln.docstates

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# LocalDB
*.mdf
*.ldf

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/
